
<script>
   
</script>


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>particles.js</title>
  <meta name="description" content="particles.js is a lightweight JavaScript library for creating particles.">
  <meta name="author" content="Vincent Garreau" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="stylesheet" media="screen" href="css/site.css">
</head>
<body>



<!-- particles.js container -->
<div id="particles-js">
   
    
    <div class="text-center" style="
    color: wheat;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
    text-align: center;
    -webkit-text-stroke: 0px black;
">
    <h1 class="display-4" id="welcome"></h1>
</div>

<div class="text-center" style="
    color: grey;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
    text-align: center;
    -webkit-text-stroke: 0px black;
">
    <h1 class="display-4" id="before"></h1>
</div>

</div>

<!-- scripts -->
<script src="../particles.js"></script>
<script src="js/site.js"></script>

<!-- stats.js -->

  

  
    <audio id="g1" src="Sounds/griffingvalg.mp3" type="audio/mp3" onended="griffing()"></audio>
    <audio id="h1" src="Sounds/hasblasvalg.mp3" type="audio/mp3" onended="hasblas()"></audio>
    <audio id="r1" src="Sounds/ravnklovalg.mp3" type="audio/mp3"onended="ravnklo()"></audio>
    <audio id="s1" src="Sounds/smygardvalg.mp3" type="audio/mp3" onended="smygard()"></audio>
    <audio id="g2" src="Sounds/griffing.mp3" type="audio/mp3"  onended="griffing()" ></audio>
    <audio id="h2" src="Sounds/håsblås.mp3" type="audio/mp3"  onended="hasblas()"></audio>
    <audio id="r2" src="Sounds/ravnklo.mp3" type="audio/mp3"  onended="ravnklo()"></audio>
    <audio id="s2" src="Sounds/smygard.mp3" type="audio/mp3"  onended="smygard()"></audio>
    <audio id="g3" src="Sounds/griffing2.mp3" type="audio/mp3"  onended="griffing()" ></audio>
    <audio id="h3" src="Sounds/håsblås2.mp3" type="audio/mp3"  onended="hasblas()"></audio>
    <audio id="r3" src="Sounds/ravnklo2.mp3" type="audio/mp3"  onended="ravnklo()"></audio>
    <audio id="s3" src="Sounds/smygard2.mp3" type="audio/mp3"  onended="smygard()"></audio>
   
    <audio id="1" src="Sounds/1.mp3" type="audio/mp3"></audio>
    <audio id="2" src="Sounds/2.mp3" type="audio/mp3"></audio>
    <audio id="3" src="Sounds/3.mp3" type="audio/mp3"></audio>
    <audio id="4" src="Sounds/4.mp3" type="audio/mp3"></audio>
    <audio id="5" src="Sounds/5.mp3" type="audio/mp3"></audio>
    <audio id="6" src="Sounds/6.mp3" type="audio/mp3"></audio>
    <audio id="7" src="Sounds/7.mp3" type="audio/mp3"></audio>
    <audio id="sang" src="Sounds/valghatt-sang.mp3" type="audio/mp3" onended="sangdone()"></audio>
</div>


</body>
</html>

